
<div class="container-fluid" id="footer">
	<nav class="navbar navbar-expand navbar-light">
		<ul class="navbar-nav mr-auto ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#" highlight="none">
					&copy; SnazzyMo 2024
				</a>
			</li>
		</ul>
	</nav>
</div>


<script type="text/javascript" src="/assets/js/ga.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KRGYQQ3ETC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KRGYQQ3ETC');
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/assets/js/medium-zoom.min.js"></script>
<script type="text/javascript" src="/assets/js/blog.js"></script>